<ion-view title="{{navTitle}}"  > 

    <ion-content padding="true">


<div class="card">
  <div class="item item-divider bar-assertive">
   My Info
  </div>
  <div class="item  item-text-wrap">
    Name: SHAHRUL HUSSAIN BIN SHAHUL HAMID </br>
    No: 0174055635
  
  </div>
  <div class="item item-divider">
     <ion-toggle ng-model="airplaneMode">Make No Public</ion-toggle>
  </div>
</div>

<div class="list card">

  <a href="#" class="item item1 item-icon-left">
    <i class="icon ion-home"></i>
   	Total Points: 20000
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    Chalange Done
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-wifi"></i>
    Archivement ---> Master
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-card"></i>
    Edit personal info
  </a>

</div>

    <ul class='list' ng-repeat="task in tasks">
    
      
 
      </ion-content>
      </ion-view>